doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 걱정마! 켓
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 걱정마! 켓
        main
            p 걱정마! 켓은 화상 채팅을 통해 실시간으로 물건을 확인하며 물건을 사고팔수 있는 중고거래 사이트입니다.
            ul
            form
                input(type="text" placeholder="메세지를 입력해주세요." required) 
                button 보내기
        script(src="/public/js/app.js")