doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 걱정마! 켓
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 걱정마! 켓
        main
            div#myStream
                video#myFace(autoplay,playsinline, width="500", height="500")
                button#mute 음소거 
                button#camera 카메라 끄기
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")