{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <hr>
            <h3 class="text-center">완료된 주문 상세 페이지</h3>
            <hr>
            <div class="card mb-3 mt-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{order['product']['thumbnail_img']}}" class="img-fluid rounded-start" width="100%" height="auto" alt="상품의 대표 이미지">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{order['product']['name']}}</h5>
                            <hr>
                            <p class="card-text">{{order['product']['description']}}</p>
                            <hr>
                            <div class="d-flex flex-row-reverse align-items-center bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <p class="card-text">{{order['product']['price']}}원</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    주문자 정보 / 배송지
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">이름: {{order['user_name']}}</li>
                    <li class="list-group-item">연락처: {{order['user_phone']}}</li>
                    <li class="list-group-item">우편번호: {{order['postcode']}}</li>
                    <li class="list-group-item">주소: {{order['address']}}</li>
                    <li class="list-group-item">상세 주소: {{order['detail_address']}} {{order['extra_address']}}</li>
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
        <a href="#"><i class="fas fa-arrow-up fa-lg" style="color: #212529;"></i></a>
        </p>
        <p class="mb-1">developer : yunbiyomi</p>
        <p class="mb-1">e-mail : yunbiyomi@naver.com</p>
        <p class="mb-0">Copyright 2023. cocoder. All Right Reserved.</p>
    </div>
</footer>
{% endblock %}