{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div>
                <hr>
                <h2 class="pt-2 pb-2 text-center">주문 성공</h2>
                <hr>
            </div>
            <p class="text-center">주문이 성공적으로 완료되었습니다.</p>
            <div class="d-flex justify-content-center">
                <a href="/orders/{{order_id}}" class="btn btn-outline-primary">주문 결과 확인하기</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}