{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-3 mt-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{product['thumbnail_img']}}" class="img-fluid rounded-start" alt="상품의 대표 이미지">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{product['name']}}</h5>
                        <hr>
                        <p class="card-text">{{product['description']}}</p>
                        <hr>
                        <p class="card-text text-end">{{product['price']}}원</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{product['detail_img']}}" class="card-img-top" alt="상품의 상세 이미지">
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}