{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div>
                <hr>
                <h2 class="pt-2 pb-2 text-center">상품 수정</h2>
                <hr>
            </div>
            <form action="/products/{{product['_id']}}/update" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">상품명</label>
                    <input name="name" value="{{product['name']}}" type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">상품 가격</label>
                    <input name="price" value="{{product['price']}}" type="text" class="form-control" id="price">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">상품 설명</label>
                    <textarea name="description" type="text" class="form-control" id="description" style="height: 200px">{{product['description']}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="thumbnail_img" class="form-label">상품 대표 이미지</label>
                    <input name="thumbnail_img" type="file" class="form-control" id="thumbnail_img">
                </div>
                <div class="mb-3">
                    <label for="detail_img" class="form-label">상품 상세 이미지</label>
                    <input name="detail_img" type="file" class="form-control" id="detail_img">
                </div>
                <button type="submit" class="btn btn-primary w-100">상품 등록</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
        <a href="#"><i class="fas fa-arrow-up fa-lg" style="color: #212529;"></i></a>
        </p>
        <p class="mb-1">developer : yunbiyomi</p>
        <p class="mb-1">e-mail : yunbiyomi@naver.com</p>
        <p class="mb-0">Copyright 2023. cocoder. All Right Reserved.</p>
    </div>
</footer>
{% endblock %}