{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-3 mt-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{product['thumbnail_img']}}" class="img-fluid rounded-start" width="100%" height="auto" alt="상품의 대표 이미지">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{product['name']}}</h5>
                            <hr>
                            <p class="card-text">{{product['description']}}</p>
                            <hr>
                            <div class="d-flex flex-row-reverse align-items-center bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <a href="http://localhost:3000/" class="btn btn-outline-primary">채팅하기</a>
                                    <a href="/products/{{product['_id']}}/order" class="btn btn-outline-primary">구매하기</a>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <p class="card-text">{{product['price']}}원</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{{product['detail_img']}}" class="card-img-top" alt="상품의 상세 이미지">
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
        <a href="#"><i class="fas fa-arrow-up fa-lg" style="color: #212529;"></i></a>
        </p>
        <p class="mb-1">developer : yunbiyomi</p>
        <p class="mb-1">e-mail : yunbiyomi@naver.com</p>
        <p class="mb-0">Copyright 2023. cocoder. All Right Reserved.</p>
    </div>
</footer>
{% endblock %}