{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert('{{messages[-1]}}')
        </script>
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div>
                <hr>
                <h2 class="pt-2 pb-2 text-center">회원가입</h2>
                <hr>
            </div>
            <form action="/users/signup" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input name="email" type="text" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input name="password" type="password" class="form-control" id="password" required>
                </div>
                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">비밀번호 확인</label>
                    <input name="password_confirmation" type="password" class="form-control" id="password_confirmation" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">회원가입</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
        <a href="#"><i class="fas fa-arrow-up fa-lg" style="color: #212529;"></i></a>
        </p>
        <p class="mb-1">developer : yunbiyomi</p>
        <p class="mb-1">e-mail : yunbiyomi@naver.com</p>
        <p class="mb-0">Copyright 2023. cocoder. All Right Reserved.</p>
    </div>
</footer>
{% endblock %}